.card__delete {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete:hover {
  cursor: pointer;
  opacity: 0.6;
}
